/* ==UserStyle==
@author         some silly foxxo
@description    Override the text of CAPTCHAs. Don't be rude to foxxos.
@name           CAPTCFA
@namespace      ^w^
@version        1.0.0
==/UserStyle== */

/**
 * Originally by mavica: https://maple.pet/
 * Updated by beeps: https://beeps.website/
 * Updated again by some silly foxxo
 * 
 * Covers:
 * (1) Google reCAPTCHA
 * (2) hCaptcha
 * (3) Cloudflare Turnstile
 * (4) Microsoft CAPTCHA
 */

/* 1 */ #recaptcha-anchor-label,
/* 2 */ body > div#anchor > div.label-container > label-td > label-tc > div#label,
/* 3 */ #cf-stage #challenge-stage .ctp-label,
/* 4 */ #root > .box > .box > p[data-theme="home.instructions"] {
	font-size: 0 !important;
	line-height: 0 !important;
}

/* 1 */ #recaptcha-anchor-label::before,
/* 2 */ body > div#anchor > div.label-container > label-td > label-tc > div#label::before,
/* 3 */ #cf-stage #challenge-stage .ctp-label::before {
	content: "Im a foxxo";
	font-size: 14px;
}

/* 4 */ #root > .box > .box > p[data-theme="home.instructions"]::before {
	content: "Solve the puzzle to prove you are a foxxo.";
	font-size: 1rem;
	line-height: 1;
}
