/* ==UserStyle==
@author         some derp foxxo
@description    Icon created by volpeon@is-a.wyvern.rip, Apache 2.0 license
@name           FoxFoxGoooooooooooooooooooooo
@namespace      ^w^
@preprocessor	stylus
@supportURL     https://codeberg.org/LexxyFox/userstyles/issues
@updateURL      https://lexxyfox.codeberg.page/userstyles/duckduckgo.user.css
@var	text	name	Name	FoxFoxGo
@version        1.0.1
==/UserStyle== */

logo = url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 120 120'%3E%3Ccircle cx='60' cy='60' r='60' fill='%23de5833'/%3E%3Ccircle cx='60' cy='60' r='55' fill='%23fff'/%3E%3Ccircle cx='60' cy='60' r='50' fill='%23de5833'/%3E%3Cdefs%3E%3CclipPath id='A'%3E%3Cpath d='M151.144.34c-4.874-2.571-34.78 8.383-46.926 28.677 5.41 7.633 19.064-.123 24.54-.495-1.497 2.31-4.037 8.31-4.088 11.335 2.224.859 9.32.612 12.132-2.27 1.5 5.356-1.156 17.091 6.49 18.436 10.366-17.966 13.247-52.839 7.852-55.684z'/%3E%3C/clipPath%3E%3CclipPath id='B'%3E%3Ccircle cx='60' cy='60' r='50'/%3E%3C/clipPath%3E%3Cfilter id='C' x='-.468' width='1.935' y='-.757' height='2.513'%3E%3CfeGaussianBlur stdDeviation='5.163'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M93.46 15.182c-4.147-1.757-14.854 13.814-26.507 17.738l22.363 14.005c4.263-6.804 7.902-30.15 4.144-31.743z' clip-path='url(%23B)' fill='%23313131'/%3E%3Cpath d='M15.489 63.648l6.079-2.8c-.893 3.254-4.483 7.636-6.568 9.444.35 2.273 4.509 6.313 8.308 8.523-1.987.212-4.66-.151-6.067-.567.776 5.53-1.627 7.403-.673 11.09 1.19 4.598 7.955 10.807 22.006 13.576 13.32 2.625 30.463 2.62 39.246.833 8.837-1.801 23.028-7.01 24.522-14.589 1.7-8.62-3.788-12.612-5.594-18.448 0 0 4.699 3.687 7.253 7.193 2.293-12.915-3.587-16.672-10.249-20.22 4.35.217 6.22.836 9.45 2.214-2.817-7.332-6.246-10.517-10.915-12.04 2.265-.079 6.138-.944 7.692-1.548-8.476-2.76-9.755-4.145-14.656-7.201l7.814-1.02c-3.49-2.545-12.514-4.578-18.03-4.385l10.753-2.57c-7.96-4.508-11.08-3.46-19.5 1.634 5.64-3.74 7.792-9.774 10.192-12.191-11.517-.44-22.042 2.125-25.912 9.454l1.334-6.721c-2.92 1.611-5.813 4.863-10.714 5.728-9.406 1.783-13.66 3.998-18.89 15.403-.762 1.663-3.141 4.882-6.27 6.929l5.653.206C18.782 53.69 14.944 59 15.488 63.65z' clip-path='url(%23B)' fill='%23ff8702'/%3E%3Cg fill='%23ff001d'%3E%3Cellipse cx='76.852' cy='81.808' rx='13.248' ry='8.188' transform='matrix(-.65367 0 0 .66007 90.24 16.14)' opacity='.25' filter='url(%23C)'/%3E%3Cellipse ry='8.188' rx='13.248' cy='73.134' cx='25.147' transform='matrix(-.65367 0 0 .66007 104.678 16.236)' opacity='.25' filter='url(%23C)'/%3E%3C/g%3E%3Cpath d='M18.68 15.26c3.315-1.81 23.655 5.903 31.916 20.194-3.68 5.375-12.966-.087-16.69-.348 1.018 1.626 2.745 5.852 2.78 7.981-1.513.605-6.338.431-8.252-1.598-1.02 3.772.787 12.035-4.413 12.982-7.05-12.651-9.01-37.208-5.34-39.21z' fill='%23313131'/%3E%3Cpath d='M148.36 4.336c-1.789-.849-11.007 2.906-16.194 7.672-10.533 9.676-1.072 22.664-28.294 20.81 6.008 14.755 19.118 20.291 34.812 24.003-2.67-18.583 9.243-19.504 10.95-39.434.643-7.512.148-12.376-1.275-13.051z' clip-path='url(%23A)' transform='matrix(-.67867 0 0 .70417 121.326 15.092)' fill='%23ebdccc'/%3E%3Cg transform='scale(-1 1)' fill='%23313131'%3E%3Cellipse cx='-47.19' cy='57.299' rx='7.716' ry='7.969'/%3E%3Cellipse cy='52.249' cx='-78.793' rx='7.716' ry='7.969'/%3E%3C/g%3E%3Cg fill='%23fff'%3E%3Cellipse cy='25.185' cx='-67.772' rx='4.199' ry='3.141' transform='matrix(-.87896 -.4769 -.4534 .8913 0 0)'/%3E%3Cpath d='M42.308 58.816c-.674 1.322.194 3.16 1.937 4.106s3.702.64 4.374-.682-1.132-.96-2.876-1.906-2.763-2.84-3.436-1.518z'/%3E%3Cellipse transform='matrix(-.87896 -.4769 -.4534 .8913 0 0)' ry='3.246' rx='4.339' cx='-93.66' cy='5.668'/%3E%3Cpath d='M73.79 53.766c-.686 1.35.199 3.226 1.978 4.19s3.777.655 4.463-.694-1.156-.981-2.935-1.946-2.82-2.9-3.506-1.55z'/%3E%3C/g%3E%3Cg stroke='%23313131' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M72.549 51.91c.342 6.092 2.587 8.442 5.56 11.048 2.388 2.095 2.43 5.597 1.215 7.391' stroke-width='2.846'/%3E%3Cpath d='M81.23 74.578c-.572 2.855-2.141 6.497-3.659 8.908-2.937-1.62-4.807-4.716-7.072-6.896-1.064 1.448-3.432 6.532-5.778 8.989-3.073-1.827-6.881-5.921-7.866-6.875' stroke-width='3.131'/%3E%3C/g%3E%3Cpath d='M63.454 67.404c0 1.166 5.085 5.107 6.995 4.859 2.059-.267 4.693-5.54 4.285-6.626-1.037-2.757-11.28-1.45-11.28 1.767z' fill='%23313131'/%3E%3C/svg%3E")
@-moz-document url-prefix("https://duckduckgo.com/") 
	.dark-header .header__logo
		background: logo
	.home_minimalHeroLogo__kX4wR
		align-items: center
		flex-direction: column
		img
			content: logo
			width: 120px
	.home_minimalHeroLogo__kX4wR:after
		content: "" + name
		font-size: 38px
		line-height: 0.8
		margin-top: 16px
	a[href="https://duckduckgo.com/spread"]
		.showcase__heading
			visibility: hidden
			position: relative
		.showcase__heading:after
			visibility: visible
			position: absolute
			top: 0
			left: 0
			content: "Spread " + name
